.contenupage {
    width: 100%;
    height: 100%;
}

header {
    height: 50px;
    background-color: #29880f;
    text-align: center;
    line-height: 50px;
}
main {
    height: 280px;
    background-color: #f6aaef;
    text-align: center;
    line-height: 280px;
}
footer {
    height: 50px;
    background-color: #880f25;
    text-align: center;
    line-height: 50px;
}